.clients__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  position: relative;
  margin-top: 6rem;
}
.clients__item {
  width: 100%;
  padding-bottom: 66%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.clients__btn {
  position: relative;
  margin-top: 6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
