.contacts__content {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contacts__content__main {
    padding: 6rem 0;
    position: relative;
    .btn {
        margin-top: 6rem;
    }
}
.contacts__content__main__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
    grid-gap: 3rem;
}
.contacts__content__main__item {
    display: flex;
    align-items: center;
}
.contacts__content__main__item__icon {
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 2rem;
}
.contacts__content__main__item__title {
    font-size: 2rem;
    font-weight: bold;
    &.phone {
        font-size: 2.6rem;
    }
}

.contacts__content__map {
    border-radius: 20px;
    overflow: hidden;
}