.contacts__content {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts__content__main {
  padding: 6rem 0;
  position: relative;
}
.contacts__content__main .btn {
  margin-top: 6rem;
}
.contacts__content__main__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 3rem;
}
.contacts__content__main__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.contacts__content__main__item__icon {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 2rem;
}
.contacts__content__main__item__title {
  font-size: 2rem;
  font-weight: bold;
}
.contacts__content__main__item__title.phone {
  font-size: 2.6rem;
}
.contacts__content__map {
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .contacts__content {
    grid-template-columns: 1fr;
    grid-gap: 6rem;
  }
  .contacts__content__map {
    height: 30rem;
  }
  .contacts__content__main__item__title {
    font-size: 1.6rem;
  }
  .contacts__content__main__item__title.phone {
    font-size: 2rem;
  }
  .contacts__content__main {
    padding: 0;
  }
  .contacts__content__main .btn {
    margin-top: 3rem;
  }
  .contacts__content__main__items {
    grid-gap: 2rem;
  }
}
