.services__auto {
  width: 85rem;
  margin: 0 auto;
  margin-top: 4rem;
  position: relative;
}
.services__auto__img {
  width: 100%;
  height: auto;
}
.services__auto__item {
  position: absolute;
}
.services__auto__item.invert .services__auto__item__plus {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.services__auto__item.invert .services__auto__item__panel {
  left: -12.8rem;
}
.services__auto__item__plus {
  width: 4rem;
  height: auto;
  cursor: pointer;
}
.services__auto__item__panel {
  position: absolute;
  left: -13.5rem;
  bottom: 9rem;
  width: 30rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-2rem) scale(0.99);
          transform: translateY(-2rem) scale(0.99);
  opacity: 0;
  z-index: 1;
  display: none;
}
.services__auto__item__panel::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: -0.5rem;
  left: 14.5rem;
}
.services__auto__item__panel.active {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  opacity: 1;
}
.services__auto__item__panel__title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #333;
}
.services__auto__item__panel__desc {
  font-size: 1.2rem;
  opacity: 0.7;
  margin-top: 1rem;
  color: #333;
}
.services__auto__item__panel__link {
  font-size: 1.2rem;
  color: #1093EA;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
}
.services__mobile {
  display: none;
}
.services__mobile__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6rem;
  grid-gap: 3rem;
}
.services__mobile__item {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services__mobile__item__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.services__mobile__item__text {
  padding: 3rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.services__mobile__item__title {
  font-size: 2rem;
  font-weight: 900;
}
.services__mobile__item__desc {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  opacity: 0.7;
}
.services__mobile__item__link {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #1093EA;
  font-weight: 900;
}
@media screen and (max-width: 850px) {
  .services__auto {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .services__auto__item__panel {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: #fff;
    z-index: 2;
  }
  .services__auto__item__panel:before {
    display: none;
  }
  .services__auto__item.invert .services__auto__item__panel {
    left: 2rem;
  }
  .services__auto__item__panel__title {
    color: #333;
  }
  .services__auto__item__panel__desc {
    color: #333;
  }
}
