.sertificates__items {
  position: relative;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
.sertificates__item img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .sertificates__items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .sertificates__items {
    margin-top: 4rem;
    grid-gap: 1rem;
  }
}
