* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nissan Brand', sans-serif;
  color: white;
}
html {
  font-size: 10px;
}
body {
  background-color: black;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  max-width: 123rem;
  padding: 0 3rem;
  margin: 0 auto;
}
.btn {
  background-color: #1093EA;
  border: none;
  padding: 2rem 4rem;
  border-radius: 10rem;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.6rem;
}
.btn:hover {
  background-color: #0e84d2;
}
.sec {
  padding: 6rem 0;
  position: relative;
}
.sec__title {
  font-size: 4.8rem;
  position: relative;
}
.sec__desc {
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: 400;
  opacity: 0.7;
  line-height: 1.5;
  position: relative;
}
.global__wrapper {
  overflow-x: hidden;
}
.overlay:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.6) 0%, #000000 100%);
}
.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero * {
  position: relative;
}
.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hero__overlay:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
}
.hero__navbar {
  padding: 3rem 0;
}
.hero__navbar .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.hero__navbar__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-left: 6rem;
}
.hero__navbar__nav a {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 3.4rem;
}
.hero__navbar__nav a img {
  margin-right: 1rem;
  height: 0.9rem;
  width: auto;
}
.hero__navbar__nav li {
  position: relative;
}
.hero__navbar__nav li:hover a {
  opacity: 0.7;
}
.hero__navbar__nav li:hover .hero__navbar__nav__submenu a {
  opacity: 1;
}
.hero__navbar__nav li:hover .hero__navbar__nav__submenu a:hover {
  color: #1093EA;
}
.hero__navbar__phoneblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  margin-left: auto;
}
.hero__navbar__phoneblock__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.hero__navbar__phoneblock__top img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}
.hero__navbar__phoneblock__top a {
  color: white;
  font-weight: bold;
  font-size: 2.2rem;
}
.hero__navbar__phoneblock__bottom {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.5;
}
.hero__navbar__nav__submenu {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
  padding-top: 2rem;
  z-index: 1;
}
.hero__navbar__nav__submenu.active .hero__navbar__nav__submenu__links {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  opacity: 1;
}
.hero__navbar__nav__submenu__links {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  -webkit-transform: translateY(2rem) scale(0.99);
          transform: translateY(2rem) scale(0.99);
  background-color: white;
  width: 36rem;
  padding: 2rem 0;
  border-radius: 1rem;
  position: relative;
}
.hero__navbar__nav__submenu__links a {
  padding: 1rem 3rem;
  display: block;
  font-size: 1.2rem;
  color: #333;
}
.hero__navbar__nav__submenu__links::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -0.5rem;
  left: 3.3rem;
}
.hero__main {
  padding: 10rem 0;
}
.hero__main .btn {
  margin-top: 4rem;
}
.hero__title {
  font-size: 6.5rem;
  font-weight: 800;
}
.hero__desc {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 2rem;
  line-height: 1.5;
}
.typed-cursor {
  font-weight: 300;
  opacity: 0.1;
}
.hero__navbar__hamburger {
  margin-left: 3rem;
  padding: 2rem;
  margin-right: -2rem;
  display: none;
}
.hero__navbar__hamburger.active .hero__navbar__hamburger__icon {
  background-image: url(../img/hamburger__active.svg);
}
.hero__navbar__hamburger__icon {
  width: 1.9rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../img/nav.svg);
}
.hero__brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.hero__brand {
  height: 3.5rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
}
.hero__brand img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 950px) {
  .hero__navbar {
    padding: 1rem 0;
  }
  .hero__navbar__nav {
    display: none;
  }
  .hero__navbar__hamburger {
    display: block;
  }
  .hero__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .hero__navbar__logo {
    width: 10rem;
  }
  .hero__navbar__logo img {
    width: 100%;
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__main {
    padding: 6rem 0;
  }
}
@media screen and (max-width: 500px) {
  .hero__main {
    padding: 6rem 0;
  }
  .hero__navbar__phoneblock {
    display: none;
  }
  .hero__navbar__hamburger {
    margin-left: auto;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__desc {
    font-size: 1.4rem;
  }
  .hero__brand img {
    height: 2rem;
  }
}
.services__auto {
  width: 85rem;
  margin: 0 auto;
  margin-top: 4rem;
  position: relative;
}
.services__auto__img {
  width: 100%;
  height: auto;
}
.services__auto__item {
  position: absolute;
}
.services__auto__item.invert .services__auto__item__plus {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.services__auto__item.invert .services__auto__item__panel {
  left: -12.8rem;
}
.services__auto__item__plus {
  width: 4rem;
  height: auto;
  cursor: pointer;
}
.services__auto__item__panel {
  position: absolute;
  left: -13.5rem;
  bottom: 9rem;
  width: 30rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-2rem) scale(0.99);
          transform: translateY(-2rem) scale(0.99);
  opacity: 0;
  z-index: 1;
  display: none;
}
.services__auto__item__panel::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: -0.5rem;
  left: 14.5rem;
}
.services__auto__item__panel.active {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  opacity: 1;
}
.services__auto__item__panel__title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #333;
}
.services__auto__item__panel__desc {
  font-size: 1.2rem;
  opacity: 0.7;
  margin-top: 1rem;
  color: #333;
}
.services__auto__item__panel__link {
  font-size: 1.2rem;
  color: #1093EA;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
}
.services__mobile {
  display: none;
}
.services__mobile__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6rem;
  grid-gap: 3rem;
}
.services__mobile__item {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services__mobile__item__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.services__mobile__item__text {
  padding: 3rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.services__mobile__item__title {
  font-size: 2rem;
  font-weight: 900;
}
.services__mobile__item__desc {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  opacity: 0.7;
}
.services__mobile__item__link {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #1093EA;
  font-weight: 900;
}
@media screen and (max-width: 850px) {
  .services__auto {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .services__auto__item__panel {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: #fff;
    z-index: 2;
  }
  .services__auto__item__panel:before {
    display: none;
  }
  .services__auto__item.invert .services__auto__item__panel {
    left: 2rem;
  }
  .services__auto__item__panel__title {
    color: #333;
  }
  .services__auto__item__panel__desc {
    color: #333;
  }
}
.works__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 3rem;
  position: relative;
}
.works__link {
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.works__link input {
  display: none;
}
.works__link input:checked + .works__link__box {
  background-color: #1093EA;
}
.works__link input:checked + .works__link__box .works__link__box__icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.works__link input:checked + .works__link__box .works__link__box__title {
  margin-left: 0;
}
.works__link__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background-color: #1d1d1d;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
}
.works__link__box__icon {
  margin-right: 1.5rem;
  width: 1.3rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.works__link__box__icon img {
  width: 100%;
}
.works__link__box__title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -2.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.works__slider {
  margin-top: 4rem;
}
.works__slider .owl-stage-outer {
  border-radius: 1rem;
}
.works__slider .owl-item.center .works__slider__item__img__text p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.works__slider button.owl-prev {
  position: absolute;
  left: -10rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.works__slider button.owl-next {
  position: absolute;
  right: -10rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.works__slider__item__img {
  width: 100%;
  padding-bottom: 67%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 1rem;
}
.works__slider__item__img__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3rem 4rem;
  font-size: 1.6rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.works__slider__item__img__text p {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}
.works__slider__dots {
  margin-top: 3rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.works__slider__dots button.owl-dot {
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  background-color: #fff;
  border: none;
  opacity: 0.5;
  margin: 0.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
.works__slider__dots button.owl-dot.active {
  background-color: #1093EA;
  opacity: 1;
}
.works__slider__thumbs__item {
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
}
@media screen and (max-width: 1300px) {
  .works__slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
  }
}
@media screen and (max-width: 1000px) {
  .works__slider {
    width: 100%;
  }
  .works__slider button.owl-prev {
    left: 6rem;
  }
  .works__slider button.owl-next {
    right: 6rem;
  }
}
@media screen and (max-width: 500px) {
  .works__slider {
    margin-top: 2rem;
  }
  .works__link {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .works__link__box {
    padding: 1rem 2rem;
  }
  .works__link__box__title {
    font-size: 0.9rem;
  }
  .works__slider__dots button.owl-dot {
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
  }
  .works__slider__item__img__text {
    padding: 2rem;
    font-size: 1.4rem;
  }
}
.youtube .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.youtube__btn {
  margin-top: 6rem;
}
.youtube__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.youtube__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 6rem;
}
.youtube__item__img {
  width: 100%;
  padding-bottom: 58%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.youtube__item__img__time {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: #000;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
.youtube__item__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  margin-top: 2rem;
}
.youtube__item__content__icon {
  width: 6rem;
  min-width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/youtube-avatar.svg);
  margin-right: 2rem;
}
.youtube__item__content__text__title {
  font-weight: bold;
  font-size: 16px;
}
.youtube__item__content__text__channelname {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  opacity: 0.7;
}
.youtube__item__content__text__statistic {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  opacity: 0.7;
}
@media screen and (max-width: 1000px) {
  .youtube__items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .youtube__items {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .youtube__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .youtube__header__btn {
    margin-top: 2rem;
  }
  .youtube__items {
    margin-top: 3rem;
  }
  .youtube__item__content__icon {
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
  }
  .youtube__item__content__text__title {
    font-size: 1.4rem;
  }
  .youtube__item__content__text__channelname {
    font-size: 1.2rem;
  }
  .youtube__item__content__text__statistic {
    font-size: 1.2rem;
  }
}
.clients__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  position: relative;
  margin-top: 6rem;
}
.clients__item {
  width: 100%;
  padding-bottom: 66%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.clients__btn {
  position: relative;
  margin-top: 6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
@media screen and (max-width: 700px) {
  .clients__items {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 3rem;
  }
  .clients__btn {
    margin-top: 3rem;
  }
}
.about__content {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-gap: 16rem;
  margin-top: 6rem;
}
.about__content__img img {
  width: 100%;
  height: auto;
}
.about__content__text {
  position: relative;
}
.about__content__text p {
  font-size: 1.6rem;
  line-height: 1.7;
  position: relative;
}
.about__content__text .btn {
  margin-top: 4rem;
}
.about__content__text__opisanie {
  position: relative;
}
.about__content__text__quotes-left {
  position: absolute;
  left: -15rem;
  top: -5rem;
  width: 11.3rem;
  height: auto;
}
.about__content__text__quotes-right {
  position: absolute;
  right: -8rem;
  bottom: -8rem;
  width: 11.3rem;
  height: auto;
}
.about__content__name {
  margin-top: 3rem;
  font-size: 2.6rem;
  font-weight: bold;
}
.about__content__role {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  opacity: 0.7;
}
@media screen and (max-width: 700px) {
  .about__content {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  .about__content__img {
    justify-self: center;
    width: 70%;
  }
  .about__content__text p {
    font-size: 1.4rem;
  }
  .about__content__name {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .about__content__role {
    font-size: 1.2rem;
  }
  .about__content__text .btn {
    margin-top: 2rem;
  }
}
.contacts__content {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts__content__main {
  padding: 6rem 0;
  position: relative;
}
.contacts__content__main .btn {
  margin-top: 6rem;
}
.contacts__content__main__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 3rem;
}
.contacts__content__main__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.contacts__content__main__item__icon {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 2rem;
}
.contacts__content__main__item__title {
  font-size: 2rem;
  font-weight: bold;
}
.contacts__content__main__item__title.phone {
  font-size: 2.6rem;
}
.contacts__content__map {
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .contacts__content {
    grid-template-columns: 1fr;
    grid-gap: 6rem;
  }
  .contacts__content__map {
    height: 30rem;
  }
  .contacts__content__main__item__title {
    font-size: 1.6rem;
  }
  .contacts__content__main__item__title.phone {
    font-size: 2rem;
  }
  .contacts__content__main {
    padding: 0;
  }
  .contacts__content__main .btn {
    margin-top: 3rem;
  }
  .contacts__content__main__items {
    grid-gap: 2rem;
  }
}
.footer {
  padding-top: 6rem;
}
.footer__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.footer__logo__desc {
  font-size: 1.6rem;
  margin-top: 1rem;
}
.footer__nav__title {
  font-size: 1.6rem;
  font-weight: 800;
}
.footer__nav__links {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 1rem;
}
.footer__nav__links a {
  font-size: 1.6rem;
}
.footer__social__title {
  font-size: 1.6rem;
  font-weight: 800;
}
.footer__social__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-columns: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 2rem;
}
.footer__social__item img {
  height: 2rem;
}
.footer__contacts {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 2rem;
  justify-items: end;
}
.footer__phone {
  font-size: 2.6rem;
  font-weight: 800;
}
.footer__contact {
  font-size: 1.6rem;
}
.footer__bottom {
  margin-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 6rem 0;
}
.footer__bottom__copyright {
  font-size: 1.4rem;
  opacity: 0.7;
}
.footer__bottom__politics {
  font-size: 1.4rem;
  opacity: 0.7;
}
@media screen and (max-width: 1000px) {
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    margin-top: 4rem;
  }
  .footer__social {
    margin-top: 4rem;
  }
  .footer__contacts {
    margin-top: 4rem;
    justify-items: start;
  }
}
@media screen and (max-width: 600px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom__politics {
    margin-top: 2rem;
  }
  .footer__nav__links a {
    font-size: 1.4rem;
  }
  .footer__logo__desc {
    font-size: 1.4rem;
  }
  .footer__contact {
    font-size: 1.4rem;
  }
}
.mobile__nav {
  position: absolute;
  left: 3rem;
  width: calc(100% - 6rem);
  top: 7rem;
  border-radius: 1rem;
  background-color: #fff;
  z-index: 2;
  padding: 2rem;
  display: none;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.mobile__nav * {
  color: #333;
}
.mobile__nav.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.mobile__nav__links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 1rem;
}
.mobile__nav__links a {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
}
.mobile__nav__links a:hover {
  color: #1093EA;
}
.mobile__nav__links * {
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
}
.mobile__nav__link__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.mobile__nav__arrow {
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/mobile__nav__arrow.svg);
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mobile__nav__submenu {
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 1rem;
}
.mobile__nav__link.active .mobile__nav__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mobile__nav__link.active .mobile__nav__link__title * {
  color: #1093EA;
}
.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  padding-top: 10rem;
}
.modal {
  background-color: #fff;
  padding: 5rem;
  border-radius: 2rem;
  max-width: 42rem;
  position: relative;
}
.modal .modal__success {
  display: none;
}
.modal .modal__error {
  display: none;
}
.modal.success .modal__content {
  display: none;
}
.modal.success .modal__success {
  display: block;
}
.modal.success .modal__error {
  display: none;
}
.modal.error .modal__content {
  display: none;
}
.modal.error .modal__success {
  display: none;
}
.modal.error .modal__error {
  display: block;
}
.modal input {
  color: #333;
}
.modal__icon {
  width: 6rem;
  height: 6rem;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.modal__icon.success {
  background-image: url(../img/modal__success.svg);
}
.modal__icon.error {
  background-image: url(../img/modal__error.svg);
}
.modal__title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}
.modal__desc {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  color: #333;
}
.modal__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-top: 2.5rem;
}
.modal__form input {
  background-color: #F3EFF9;
  border: none;
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  font-size: 1.4rem;
}
.modal__form label.error {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #f77c7c;
  display: block;
}
.modal__form input.error {
  background-color: rgba(247, 124, 124, 0.24);
}
.modal__form__input {
  width: 100%;
}
.modal__form__input input {
  width: 100%;
}
.modal__form__politics {
  color: #ADA6B9;
  font-size: 1.3rem;
}
.modal__form__politics a {
  color: #ADA6B9;
  color: #1093EA;
}
.modal__form__politics a:hover {
  color: #1093EA;
}
.modal__close {
  width: 1.6rem;
  height: 1.6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(https://khasenovweb.github.io/cdn/img/modal/modal__close.svg);
  position: absolute;
  top: -2rem;
  right: -2rem;
  cursor: pointer;
}
.body_hidden {
  overflow-y: hidden;
}
[data-modal] {
  display: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow-y: auto;
  padding-bottom: 10rem;
}
[data-modal] .modal {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
[data-modal].active {
  opacity: 1;
}
[data-modal].active .modal {
  -webkit-transform: scale(1);
          transform: scale(1);
}
@media screen and (max-width: 450px) {
  .modal {
    max-width: 90%;
    padding: 3rem;
  }
  .modal__close {
    right: 0;
    top: -3rem;
  }
  .modal__title {
    font-size: 2.6rem;
  }
}
.whatdoyouget__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 6rem;
}
.whatdoyouget__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 2rem;
}
.whatdoyouget__item__icon img {
  height: 12rem;
  width: auto;
}
.whatdoyouget__item__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 4rem;
}
.whatdoyouget__item__desc {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
  margin-top: 2rem;
  opacity: 0.7;
}
@media screen and (max-width: 1000px) {
  .whatdoyouget__items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .whatdoyouget__item {
    padding: 1rem;
  }
  .whatdoyouget__item__icon img {
    height: 8rem;
  }
  .whatdoyouget__item__title {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .whatdoyouget__item__desc {
    font-size: 1.4rem;
  }
}
.brands__btn {
  margin-top: 4rem;
  position: relative;
}
.sertificates__items {
  position: relative;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
.sertificates__item img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .sertificates__items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .sertificates__items {
    margin-top: 4rem;
    grid-gap: 1rem;
  }
}
.reviews__slider {
  margin-top: 6rem;
}
.reviews__slider button.owl-prev {
  position: absolute;
  left: -10rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.reviews__slider button.owl-next {
  position: absolute;
  right: -10rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.reviews__slider__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6rem;
}
.reviews__slider__item__img {
  width: 100%;
  padding-bottom: 67%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 1rem;
}
.reviews__slider__item__img__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3rem 4rem;
  font-size: 1.6rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.reviews__slider__item__img__text__brand {
  color: #1093EA;
  margin-bottom: 1rem;
}
.reviews__slider__item__text__people {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.reviews__slider__item__text__people__avatar {
  width: 10rem;
  min-width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-right: 4rem;
}
.reviews__slider__item__text__people__name {
  font-size: 2rem;
  font-weight: 600;
}
.reviews__slider__item__text__people__desc {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0.5rem;
  opacity: 0.7;
}
.reviews__slider__item__opisanie {
  margin-top: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}
.reviews__slider__dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-top: 3rem;
}
.reviews__slider__dots button.owl-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.5;
  border: none;
  margin: 0 0.25rem;
}
.reviews__slider__dots button.owl-dot.active {
  background-color: #1093EA;
  opacity: 1;
}
@media screen and (max-width: 1300px) {
  .reviews__slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
  }
}
@media screen and (max-width: 1000px) {
  .reviews__slider__item {
    grid-template-columns: 1fr;
  }
  .reviews__slider {
    width: 100%;
  }
}
.prices__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6rem;
  grid-gap: 3rem;
}
.prices__item {
  background-color: #141414;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 9rem;
  border-radius: 2rem;
}
.prices__item__img {
  height: 5rem;
  width: auto;
}
.prices__item__price {
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 800;
  color: #1093EA;
}
@media screen and (max-width: 1000px) {
  .prices__items {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 700px) {
  .prices__item__img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .prices__item {
    padding: 6rem;
  }
  .prices__items {
    margin-top: 4rem;
  }
}
.calc__items {
  margin-top: 6rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 6rem;
}
.calc__item {
  padding: 5rem;
  padding-bottom: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  position: relative;
}
.calc__item__label {
  font-size: 2rem;
  background-color: #000;
  position: absolute;
  top: -1.3rem;
  left: 4rem;
  padding: 0 2rem;
}
.calc__item__checkboxs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}
.calc__item__checkbox {
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.calc__result {
  margin-top: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding-left: 6rem;
}
.calc__result__price {
  font-size: 4.8rem;
  font-weight: 800;
  margin-right: 8rem;
}
@media screen and (max-width: 500px) {
  .calc__item {
    padding: 3rem;
  }
  .calc__result__price {
    font-size: 3rem;
  }
  .calc__result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .calc__result__btn {
    margin-top: 3rem;
  }
}
.faq__items {
  margin-top: 6rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 3rem;
}
.faq__item {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
}
.faq__item__head__arrow {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../img/faq-arrow.svg);
}
.faq__item__head__title {
  font-size: 2rem;
}
.faq__item__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  cursor: pointer;
  padding: 3rem 4rem;
}
.faq__item__content {
  font-size: 1.6rem;
  padding: 3rem 4rem;
}
@media screen and (max-width: 500px) {
  .faq__item__head__title {
    font-size: 1.6rem;
  }
}
.etaps__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 6rem;
}
.etaps__item {
  padding: 2.5rem 4rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.etaps__item.success {
  border-color: #1093EA;
}
.etaps__item__title {
  font-size: 2.6rem;
  font-weight: 800;
}
.etaps__item__number {
  color: #1093EA;
}
.etaps__item__desc {
  font-size: 1.6rem;
  margin-top: 1rem;
  opacity: 0.7;
}
@media screen and (max-width: 1000px) {
  .etaps__items {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .etaps__item__title {
    font-size: 1.8rem;
  }
  .etaps__item__icon img {
    height: 3rem;
    width: auto;
  }
}
.hero__main .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.hero__title {
  text-align: center;
}
.hero__desc {
  text-align: center;
}
.sec__title {
  text-align: center;
}
.sec__desc {
  text-align: center;
}
.works__links {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.hero__brand {
  margin: 0 1.5rem;
}
.brands .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.calc__result {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.calc__result__price {
  margin-right: 0;
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 9.5px;
  }
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 500px) {
  .btn {
    font-size: 1.2rem;
  }
  .sec__title {
    font-size: 2.5rem;
  }
  .sec__desc {
    font-size: 1.4rem;
  }
  .sec {
    padding: 3rem 0;
  }
}
